<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<%= link_to "Olivier van den Biggelaar", "mailto:ovdbigge+letsband@gmail.com" %>
</p>
<p>
	<%= link_to "Matthieu van den Biggelaar", "mailto:vdbiggelaar+letsband@gmail.com" %>
</p>

<br/>