<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<div class="result_user">
<div class="contact" >
<p ><%= image_tag "img/sex.png", alt:"" %>
	<%= link_to "Olivier van den Biggelaar", "mailto:ovdbigge+letsband@gmail.com" %>
</p>
<p><%= image_tag "img/sex.png", alt:"" %>
	<%= link_to "Matthieu van den Biggelaar", "mailto:vdbiggelaar+letsband@gmail.com" %>
</p>
</div>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
