
<div class="row-fluid">
   <div class="span12 pagination-centered"><%= image_tag 'logo_hd.png', width: 434 %></div>
</div>
<div class='row'>
	<div class='patch span6'>
		<%= render partial: 'shared/musician_small_form', locals: {form_class: 'small_form'} %>
	</div>
	<div class='patch span6'>
		<%= render partial: 'shared/band_small_form', locals: {form_class: 'small_form'} %> 
	</div>
</div>


