<div class="center hero-unit">
  <h1>Find a music band</h1>

  <h2>
    playing 
    <input type="text" placeholder="Rock&Roll">
    in
    <input type="text" placeholder="Brussels">
  </h2>

  <%= link_to "Find!", '#', class: "btn btn-large btn-primary" %>
</div>

<div class="center hero-unit">
  <h1>Find a musician</h1>

  <h2>
    playing 
    <input type="text" placeholder="Guitar">
    in
    <input type="text" placeholder="Brussels">
  </h2>

  <%= link_to "Find!", '#', class: "btn btn-large btn-primary" %>
</div>