
<div class="row-fluid">
   <div class="span12 pagination-centered"><%= image_tag 'logo_hd.png', width: 434 %></div>
</div>
<!--div class="row-fluid">
	<div class="span2"></div>
	<div class="offset2 span8 pagination-centered"><%= render partial: 'shared/combined_small_form', locals: {form_class: 'small_form'} %></div>
	<div class="span2"></div>
</div-->
<div class='row-fluid'>
	<div class='patch span6'>
		<%= render partial: 'shared/musician_small_form', locals: {form_class: 'small_form'} %>
	</div>
	<div class='patch span6'>
		<%= render partial: 'shared/band_small_form', locals: {form_class: 'small_form'} %> 
	</div>
</div>


