<% provide(:title, "Received Messages") %>
<% provide(:menu, "received") %>
<%= will_paginate %>
<div class="messages">
	<ul>
		<%= render :partial => "message", :collection => @messages, :locals => { :current_user_is_recipient => true } %>
	</ul>
</div>
<%= will_paginate %>