<% provide(:title, "Sent Messages") %> 
<% provide(:menu, "sent") %>
<%= will_paginate %>
<div class="messages">
	<ul>
		<!--render :partial => "message", :collection => @messages, :locals => { :current_user_is_recipient => false } -->
		<% @messages.each do |message| %>
			<% if message.inviting_band_id.present? %>
				<%= render :partial => "invitation", :object => message, :locals => { :current_user_is_recipient => false } %>
			<% else %>
				<%= render :partial => "message", :object => message, :locals => { :current_user_is_recipient => false } %>
			<% end %>
		<% end %>
	</ul>
</div>
<%= will_paginate %>