<div class="container">

	<center>
		<div class="hero-unit">
			<h1> Olivier van den Biggelaar </h1>
			<h2> Software Project Manager </h2>
		</div>
	</center>

	<div class="page-header">
  		<h2>Software Project Management Experiences</h2>
	</div>

	<div class="well well-small">
		<div class="row">
			<div class="span3">
		    	<%= link_to (image_tag "kinect8.png"), "http://blog.fishingcactus.com/index.php/2012/05/04/an-eye-behind-the-kinect-camp/" %>
			</div>
			<div class="span20">
				<h4>Kinect Camp @ Fishing Cactus & MIC – April 2012</h4>
				<em> Scrum-based development of the first city-scale Kinect multi-player social game; played live on Mons Central Place at VIA Festival </em>
				<p><span class="label label-info">Role</span> Lead Programmer <span class="label label-info">Team</span> 10 programmers, 5 artists, 1 game designer <span class="label label-info">Duration</span> 7 days</p>
			</div>	
		</div>
	</div>

	<div class="well well-small">
		<div class="row">
			<div class="span3">
			  	<%= link_to (image_tag "botty.png"), "http://www.kongregate.com/games/yervin/botty-3d" %>
			</div>
			<div class="span20">
				<h4> Botty 3D @ Indie Game Development – December 2010-February 2011</h4>
				<em> Scrum-based development of a Unity3D puzzle game; published on Kongregate.com </em>
				<p><span class="label label-info">Roles</span> Project Management, Game Design, C# Programming, Art, Publishing <span class="label label-info">Team</span> Worked alone on the Kongregate version. An artist is currently working with me on an iOS port. <span class="label label-info">Duration</span> 2,5 months</p>
			</div>	
		</div>
	</div>

	<div class="well well-small">
		<div class="row">
			<div class="span3">
			  	<%= link_to (image_tag "swc.png"), "http://www.swcombine.com/" %>
			</div>
			<div class="span20">
				<h4> Virtual Stock Exchange @ Star Wars Combine – July-August 2011</h4>
				<em> Development of a Stock Exchange module for the browser-based MMO Star Wars Combine </em>
				<p><span class="label label-info">Roles</span> Project Manager, Game Designer, PHP/MySQL/Javascript Programmer, Quality Assurance <span class="label label-info">Team</span> Developed the module with close interaction with the SWC Developer Team <span class="label label-info">Duration</span> 2 months</p>
			</div>	
		</div>
	</div>
   
   	<div class="well well-small">
		<div class="row">
			<div class="span3">
			  	<%= link_to (image_tag "cmine.png"), "http://www.youtube.com/watch?v=YvO8akFPTh0#t=1m35s" %>
			</div>
			<div class="span20">
				<h4> Boiling Point @ C-Mine Game Jam 2011 – May 2011</h4>
				<em> Development of a 2 player turn-based strategy game with Unity3D Pro </em>
				<p><span class="label label-info">Roles</span> Project Manager & Lead Programmer <span class="label label-info">Team</span> 3 Programmers, 1 Artist <span class="label label-info">Duration</span> 48 hours</p>
			</div>	
		</div>
	</div>

	<div class="well well-small">
		<div class="row">
			<div class="span3">
			  	<%= link_to (image_tag "MMO.png"), "#" %>
			</div>
			<div class="span20">
				<h4> 3D Avatar Chat @ Indie Game Developement – July-September 2010</h4>
				<em> Development of a social MMO prototype using SmartFoxServer (server) and Unity3D (client)  </em>
				<p><span class="label label-info">Roles</span> Project Manager, Game Designer, Java/C# Programmer <span class="label label-info">Team</span> I independently developed this prototype as a proof of concept for a social MMO. <span class="label label-info">Duration</span> 3 months</p>
			</div>	
		</div>
	</div>

	<div class="well well-small">
		<div class="row">
			<div class="span3">
			  	<%= link_to "", "#" %>
			</div>
			<div class="span20">
				<h4> Various Projects  – 2003 - 2012</h4>
				<em> Project Management and Lead Programmer on many other game and website development projects </em>
			</div>	
		</div>
	</div>


</div>