<% provide(:title, 'Musicians') %>


		<%= render 'shared/band_large_form' %>
<div style="text-align:right;"><%= will_paginate %></div>

<div id="result">
<!--ul class="users"-->
  <%= render @users %>
<!--/ul-->
</div>

<% if @users.any? %>
	<div id="bckpage"></div>
<% end %>

<div style="text-align:center;"><%= will_paginate %></div>

<br/>
