<% provide(:title, 'Musicians') %>

<% content_for :header do %>
	<div id="searchplayer">
	<div class="searchplayer">
		<%= render 'shared/musician_large_form' %>
	</div>
	</div>
<% end %>

<%= will_paginate %>

<div id="result">
<!--ul class="users"-->
  <%= render @users %>
<!--/ul-->
</div>

<% if @users.any? %>
	<div id="bckpage"></div>
<% end %>

<%= will_paginate %>

<br/>
