<% mymodel = (@user || @band) %>
<% if mymodel.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(mymodel.errors.count, "error") %>.
    </div>
    <ul>
    <% mymodel.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>