@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: url('images/bck.png');
  background-repeat: repeat-x;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}


/* misc (debug box,...) */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* user profile sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.profile_buttons {
  ul { 
    margin: 10px 0 0 0;
    li {
      overflow: auto;
      margin: 0 0 -15px 0;
      .to_shift {
          margin-left: -4px;        
      }
    }
  }
}

.gravatar {
  /*float: left;*/
  margin-right: 10px;
}


/* forms (signup,...) */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}

.full_width {width: 100%;}
.half_width {width: 49.5%;}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.band_page {
  background-color: white;
}
.profile {
  background-color: white
}
.pagination {
  background-color: white;
}
 /* users index */
.users {
  list-style: none;
  margin: 0;
  background-color: white;
  li {
    
    margin-left: 12px;
    
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.condensed {
  list-style: none;
  margin: 0;
  ul {
    margin: 5px 0;
      li {
        overflow: auto;
        padding: 0px 0;
        border-top: 1px solid $grayLighter;
        &:last-child {
          border-bottom: 1px solid $grayLighter;
        }
      }
  }
}

/* user index - skill list */
.skills {
  table {
    width: 80%; 
    th, td {
      width:33%;
    }
    th {
      text-align:left;
    }
  }
}

.editskills {
  table {
    width: 100%; 
    th {
      width:85px;
      text-align:center;
      &:last-child {
          width:16px;
        }
    }
    td {
      &:last-child {
        padding-bottom:18px;
      }
    }
  }
  select {
    width:85px;
  }
}

.editgenres {
  table {
    width: 100%; 
    th {
      width:85px;
      text-align:center;
      &:last-child {
          width:16px;
        }
    }
    td {
      padding-top: 10px;
      width:85px;

      select {
        width:120px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 40px;
      }
      &:last-child {
        width:32px;
      }
    }
  }

}


/* image transparency */
.halfopacity
{
  opacity:0.15;
  filter:alpha(opacity=15); /* For IE8 and earlier */
}

/* user profile skills */
.skills {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* user profile sections */
.profile-elements {
  
}

.messages {
  .subject {
      a {
        color: black;
      }
      a:hover {
        color: black;
      }
  }
  ul{
    list-style: none;
    margin: 0;
    .read {
      background-color: $grayLighter;
      border-top: 1px solid white;
      border-right: 1px solid $grayLighter;
    }
    .not_read {
      background-color: white;
      .friend_name, .subject {
        font-weight:bold;
      }
      border-top: 1px solid $grayLighter;
      border-right: 1px solid $grayLighter;
    }
    .invitation {
      background-color: #d9edf7;
    }
    .contact {
      background-color: white;
      border-top: 1px solid $grayLighter;
      border-right: 1px solid $grayLighter;
    }
    li {

      overflow: auto;
      padding: 0 0;

      &:last-child {
        border-bottom: 1px solid $grayLighter;
      }
      table {
        border:none;
        width:100%;
        tr{
          td{
            &:first-child {
              width:50px;
            }
            table{
              border:none;
              tr{
                td{
                  &:first-child {
                    width:85%;
                    border:none;
                  }
                  &:last-child{
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.invitation_full {
  background-color: #d9edf7;
  p {
    border-bottom: solid 1px white;
    &:last-child {
      border-bottom: none;
    }
  }
}
.message_full {
  background-color: white;
  p {
    border-bottom: solid 1px $grayLighter;
    &:last-child {
      border-bottom: none;
    }
  }
}

.mybands {
  table {
    tr {
      border-top: 1px solid $grayLighter;
      &:last-child {
        border-bottom: 1px solid $grayLighter;
      }
      &:first-child {
        border:none;
      }
      td {
        &:first-child {
          width:110px;
        }
        &:last-child {
          width:126px;
        }
      }
    }
  }
  ul { 
    margin: 10px 0 0 0;
    li {
      overflow: auto;
      margin: 0 0 -10px 0;
      text-align:right;
    }
  }
}

.editmemberships {
  table {
    width: 80%; 
    td,th { 
      width:85px;
      text-align:center;
      &:first-child {
        width: 140px;
        text-align: left;
      }
      &:last-child {
          width:16px;
        }
    }
    td {
      &:last-child, &:first-child {
        padding-bottom:16px;
      }
    }
    select {
      width:85px;
    }
  }
  .selectable_user {
    td {
      &:first-child {
        padding-bottom: 0px;
        select {
          width:100%;
        }
      }
    }
  }
}


.large_form,.small_form {
  margin-top: 20px;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 20px;

  p {
    font-size: 35px;
  }
  table {
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    tr {
      td {
        p {
          text-align: left;
          font-size:18px;
        }
        input, select {
          width:100%;
        }
      }
    }
  }
  .btn {
    width:100%;
    font-size: 30px;
    font-weight: bold;
  }
}

.large_form {
  width:600px;
  table {
    tr {
      td {
        border: solid blue 0px;
        &:first-child {
          width:80px;
        }
      }
    }
  }
  .extra_options {
    table {
      .disabled {
        color: $grayLight;
        select, input {
          color: $grayLight;
        }
      }
      tr {
        td {
          p {
            font-size: 14px;
          }
          border: solid red 0px;
          &:first-child {
            padding-bottom: 12px;
            padding-right: 10px;
            width:10px;
          }
        }
        #user_genre_select {
          width: 235px;
        }
        #user_activity_select {
          width: 250px;
        }
        #user_name_field {
          width:300px;
        }
        #band_instrument_select {
          width: 170px;
        }
        #band_activity_select {
          width: 170px;
        }
        #band_name_field {
          width:300px;
        }
      }
    }
  }
}

select {
  padding-top: 3px;
  padding-bottom: 3px;
}