<% if request.path == root_path %>
<div class="wide_footer"></div>

<% else %>
<div id="footer">
<div class="footer">
<div class="narrow_footer">
<ul>
		<li><a href="<%= contact_path %>">contact</a></li> 
	</ul>
<% end %>
</div>