<div id="bgfooter_black">
		<ul>
		<li><%= link_to "contact", contact_path %></li>
		<li><a href="">faq</a></li>
		<li><a href="">about</a></li>
		<li><a href="">partners</a></li>
		<li><a href="">feedback</a></li>
       </ul>
</div>

