<% if content_for?(:header) %>
<div id="header">
<div class="header">
	<img src="assets/logo.png"/>
	<div id="searchplayer">
	<div class="searchplayer">
		<%=  yield(:header) %>
	</div>
	</div>
</div>
</div>
<% end %>







